.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: center;
  border-bottom: 1px solid black;
}
.navbar_title {
  font-size: medium;
  font-weight: 500;
  cursor: pointer;
}
.navbar_form {
  padding: 5px 15px;
  border: 1px solid gray;
  border-radius: 30px;
}
.navbar_form input {
  border: none;
}
.navbar_form input:focus {
  outline: none;
}
