.maintainers_list {
  list-style: none;
  margin: 0;
  padding: 0 100px;
}

.maintainers_list_item {
  display: grid;
  grid-template-columns: 10fr 0.1fr 10fr;
  gap: 20px;
  align-items: center;
  border: 2px solid gainsboro;
  text-align: center;
}
.maintainers_list_item_name,
.maintainers_list_item_email {
  width: 100%;
}
